<!-- categories.component.html -->

<div *ngIf="!showLoader; else loader" class="pb-5 w-[500px] md:w-[936px] lg:w-[1300px] mx-auto my-10 shadow-2xl rounded-xl bg-slate-100">
    <h2 class="font-bold text-3xl text-center pt-3">Products Categories</h2>
    <div class="grid gap-6   grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mx-auto my-10 px-3">
      <div *ngFor="let category of categories" class="category" >
        <div class="card w-96 bg-base-100 shadow-xl mx-auto">
            <figure><img class="w-full h-250px" [src]="category.image" alt="category" /></figure>
            <div class="card-body">
              <h2 class="card-title">{{ category.categoryName }}</h2>
              <div class="card-actions justify-end">
                <a [routerLink]="'/category/' + category._id">
                  <button class="btn btn-primary">See all cars</button>
                </a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>
  