<div class="pb-5 w-[500px] md:w-[936px] lg:w-[1300px] mx-auto my-10 shadow-2xl rounded-xl bg-slate-100">
    <h2 class="font-bold text-3xl text-center pt-3">Products Advertisement</h2>
    <div class="grid gap-6   grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mx-auto my-10 px-3">
      <div *ngFor="let product of advertiseProduct" class="category" >
        <div class="card w-96 bg-base-100 shadow-xl mx-auto">
            <figure><img class="w-full h-250px" [src]="product.image" alt="addvertise-product" /></figure>
            <div class="card-body">
              <h2 class="card-title">{{ product.productName }}</h2>
              <p><span className='font-bold'>Price: $</span>{{product.resalePrice}}</p>
              <div class="card-actions justify-end">
                 <div *ngIf="isLoggedIn; else singinMsg">
                    <div class="booking-button" (mouseenter)="changeTooltip(product.resalePrice)" [appTooltip]="tooltipText">
                        <div (click)="addBooking(product)" class="button-wrapper">
                          <div class="text">Book Now</div>
                            <span class="icon">
                              <svg viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" height="16" width="16" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
                        </svg>
                            </span>
                          </div>
                        </div>
                    </div>
                    <ng-template #singinMsg>
                        <P>Please <span routerLink="/account/login">Login </span>to book it</P>
                    </ng-template>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>