<div class="h-full flex justify-center my-10">
  <div class="w-96 p-7 backdrop-blur-0 backdrop-saturate-144  bg-black border-opacity-25 border-white border-solid border-1 rounded-xl">
    <h2 class="text-xl text-center text-white">Sign In</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-control w-full max-w-xs">
        <label class="label">
          <span class="label-text text-white">Email</span>
        </label>
        <div class="relative">
          <input [ngClass]="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched || loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched ? 'red-border' : ''" formControlName="email" type="text" class="input input-bordered w-full max-w-xs pl-10" placeholder="Email" />
          <svg stroke="currentColor" stroke-width="1.5" xmlns="http://www.w3.org/2000/svg" class="icon user-icon absolute left-3 top-3">
            <path
              d="M4 5.5C4 7.985 6.015 10 8.5 10S13 7.985 13 5.5 10.985 1 8.5 1 4 3.015 4 5.5zM13 14h-2.564c-1.13-.804-2.532-1.28-4.057-1.28s-2.927.476-4.057 1.28H1c-.553 0-1 .447-1 1v5c0 1.105.895 2 2 2h12c1.105 0 2-.895 2-2v-5c0-.553-.447-1-1-1zM8.5 11c1.7 0 3-1.3 3-3s-1.3-3-3-3-3 1.3-3 3 1.3 3 3 3z">
            </path>
          </svg>
        </div>
        <div *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched" class="text-red-600">Email Address is required.</div>
        <div *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched" class="text-red-600">Invalid email format.</div>
      </div>
      <div class="form-control w-full max-w-xs relative">
        <label class="label">
          <span class="label-text text-white">Password</span>
        </label>
        <div class="relative">
          <input [ngClass]="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched || loginForm.get('password')?.hasError('minlength') && loginForm.get('password')?.touched ? 'red-border' : ''"
            formControlName="password" [type]="showPassword ? 'text' : 'password'" class="input input-bordered w-full max-w-xs pl-10" placeholder="Password" />
          <svg stroke="currentColor" stroke-width="1.5" xmlns="http://www.w3.org/2000/svg" class="icon lock-icon absolute left-3 top-3">
            <path
              d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" stroke-linejoin="round" stroke-linecap="round"></path>
          </svg>
          <button type="button" class="absolute inset-y-0 right-0 px-2" (click)="togglePasswordVisibility()">
            <fa-icon [icon]="showPassword ? faEyeSlash : faEye"></fa-icon>
          </button>
        </div>
        <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched" class="text-red-600">Password is required.</div>
        <div *ngIf="loginForm.get('password')?.hasError('minlength') && loginForm.get('password')?.touched" class="text-red-600">Password must be 6 characters or longer.</div>
      </div>
      <label class="label">
        <span class="label-text text-white">Forget Password?</span>
      </label>
      <button type="submit" class="btn btn-primary w-full">Sign In</button>
      <div *ngIf="loginError" class="text-red-600">{{ loginError }}</div>
    </form>
    <p class="text-white">
      New to this site?
      <a class="text-secondary" routerLink="/register">Create new Account</a>
    </p>
    <div class="divider text-white">OR</div>
    <button (click)="handleGoogleSignin()" class="btn btn-outline w-full text-white">CONTINUE WITH GOOGLE</button>
    <div class="mt-2">
      <h6 class="text-red-600">Login Credential</h6>
      <p class="text-white text-sm">Admin: abusurajbd@gmail.com, pass: @bSuraj123</p>
      <p class="text-white text-sm">Seller: sarwar@b.com, pass: @bSuraj123</p>
      <p class="text-white text-sm">Login with Google is counted as a Buyer</p>
    </div>
  </div>
</div>
